@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(10, 10, 10, 0.945), 0 1px 2px rgba(15, 15, 15, 0.918);
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #0099ff, #232525);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: white;
}

.container {
  margin-bottom: 30px;
  width: 350px;
  padding: 10px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  
}
.logo-head{
  margin-top: 10px;
  font-size: 3rem;
  background-color: red;
  background-image: linear-gradient(45deg, #0af73d, #237923);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  
}

h3 {
  border-bottom: 1px solid rgb(199, 195, 195);
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}
#balance{
  text-align: center;
}

.inc-exp-container {
  background-color: #ffffff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #1e4930;
}

.money.minus {
  color: #fc0202;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number'] {
  border: 1px solid var(--box-shadow);
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  margin-bottom: 5px;
  background-color: #ffffff;
  color: rgb(14, 13, 13);
}

.btn {
  cursor: pointer;
  background-color: #0cec96;
  color: rgb(2, 2, 2);
  border: 0;
  display: block;
  font-size: 16px;
  margin: 20px 0 30px;
  padding: 20px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
